// Property Declarations And Placeholder
/*
    @extend .className --> This is A Class That Exit in Html Page
        - Use The Same Class On Many Different Elements To Give Them The Same Look
    @extend %name --> This is Placeholder For Just Taking The Source
        - Placeholders are special selectors
        - They do not exist in the HTML page
        - Use For Sharing The Style For Diffrent Elements
*/
.box {
    color: red;
    font : {
        size: 10px;
        weight: bold;
    }
    margin: auto {
        top: 10x;
        right: 20px;
    };
}

%main-display { // This is Placeholder For Just Taking The Source
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}
.ads {
    @extend .main-box;
    @extend %main-display;
    color: green;
}
.articles {
    @extend .main-box;
    @extend %main-display;
    color: red;
}




