// Proproties And PlaceHolder


.box {
    font : {
        size: 10px;
        weight: bold;
        family: "sansSerief";
    }
    padding: {
        top: 10px;
        bottom: 10px;
        left: 100px;
        right: 100px;
    }
}
%special_selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    padding: 110px;
    background-color: #222;
    color: green;
    &:not(:last-child) {
        margin: 10px
    }
}

.box-one {
    @extend .main-box;
    @extend %special_selector;
}




