// Revise The Old Lession

@use "sass/varibles/colors" as *; // For Using Externel Varibles
@use "sass/varibles/colors"; // Use colors.$varName

$main_color: red;
$border_color: orange;

footer {
    $border_color: black !global; // Global Varibles
    $border-radius: 10px; // Local Varible
    border: 2px solid $border_color;
    border-radius: $border-radius;
}
.content {
    background-color: $main_color;
    border: $main_color 2px solid;
    border: 2px solid $border_color;
}
$max_width: "max-width: 767px";
@media ($max_width) {
    .content {
        background-color: $back_color;
    }
}



