<main>
    <h1>Welcome To my App</h1>
    <header>
      <ul>
        <li class="p-2 bg-sky-400 mb-4 cursor-pointer">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="p-2 bg-sky-400 mb-4 cursor-pointer">
          <a routerLink="/task">Create Task</a>
        </li>
        <li class="p-2 bg-sky-400 mb-4 cursor-pointer">
          <a routerLink="/supplier">Add Suppliers</a>
        </li>
      </ul>
    </header>
  
    <router-outlet></router-outlet>
  </main>
  