// Use Mixin To Get The Needed
@mixin arrow($position) {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    #{$position}: -40px;
    transform: if($position == top or $position == bottom, translateX(-50%), translateY(-50%));
    @if($position == top) {
        left: 50%; border-bottom-color: red;
    } @else if($position == right) {
        top: 50%; border-left-color: red;
    } @else if ($position == bottom) {
        left: 50%; border-top-color: red;
    } @else {
        top: 50%; border-right-color: red;
    }
}
.element {
    &::before {
        @include arrow("bottom");
    }
}



// Write A Grid System With Loop
@for $i from 1 through 16 {
    .col-#{$i} {
        width: percentage($i / 16);
    }
}



// get this outpit without change the value of the variables
$names:
    "books" 20px red 18,
    "games" 30px green 18,
    "dvds" 20px blue;


@each $name, $padding, $color, $font in $names {
    .#{$name} {
        padding: $padding;
        font-size: if($font, #{$font}px, 16px);
        border: 2px solid $color;
        color: #444;
    }
}


// You Have This Varible, Pracitce While Loop.
$init: 1;
@while $init <= 5 {
    .circle-#{$init * 100} {
        width: #{$init * 100}px;
        height: #{$init * 100}px;
        border-radius: #{($init / 2) * 100}px;
    }
    $init: $init + 1;
}
// With Foor Lopp
// You Have This Varible, Pracitce While Loop.
$init: 1;
@for $init from 1 to 6 {
    .circle-#{$init * 100} {
        width: #{$init * 100}px;
        height: #{$init * 100}px;
        border-radius: #{($init / 2) * 100}px;
    }
}




// Get The Nedded
@mixin placeholder {
    color: red;
}

// Using
textarea {
    @include placeholder {
        color: #444;
    };
}
  
