body {
    padding: 0;
    overflow: hidden;
    background-color: black;
}
/*header*/
nav {
    background-color: rgb(149, 0, 255);
    height: 60px;
    background-attachment: fixed;
    padding-top: 10px;
    margin: -10px -8px 0px -10px;
}
header .my-name{
    position: absolute;
    left: 30px;
    top: 13px;
    font-family:monospace;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgb(149, 0, 255);
    letter-spacing: -4px;
    word-spacing:-6px;

}
header nav ul{
text-align: center;
margin-left:400px ;
white-space: nowrap;
}
header nav ul li{
    display: inline-block;
    padding:0px 70px 0px 0px;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
header nav ul li .connect{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 190px;
    text-shadow:none;
}
header nav ul li .connect:hover{
    color: black;
}
/*about me*/
section .about-me .name {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align:center ;
    
}
section .about-me .description {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    line-height: 42px;

}
section .inputs-group  {
    position: relative;
    left: -35px;

}
section .inputs-group .inputs-sending{
    display: inline;
    margin-left: 350px;
}
section .inputs-group .inputs-sending .message{
    border:1px solid rgb(149, 0, 255) ;
    outline: none;
    font-family:monospace;
    font-style: normal;
    font-size: 20px;
    color: rgb(149, 0, 255);
    font-weight: 600;
    box-shadow: 0px 0px 10px rgb(149, 0, 255);
    border-radius: 2px;
}
section .inputs-group .inputs-sending .sending-button {
    border: 1px solid rgb(149, 0, 255);
    background-color:rgb(255, 255, 255) ;
    width: 150px;
    height: 50px;
    outline: none;
    font-family: monospace;
    font-style: normal;
    font-size: 20px;
    color: blueviolet;
    font-weight: 500;
    position: relative;
    bottom: 20px;
    right: -1px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(149, 0, 255);
    border-radius: 2px;
    transition:.1s .1s all ease ;
}
section .inputs-group .inputs-sending .sending-button:hover{
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    width: 153px;
    height: 53px;
}
section .inputs-group .inputs-connect .connect-button {
    border: 1px solid rgb(149, 0, 255);
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    outline: none;
    font-family: monospace;
    font-style: normal;
    font-size: 20px;
    color: blueviolet;
    font-weight: 500;
    position: relative;
    bottom: -10px;
    left: 610px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(149, 0, 255);
    border-radius: 2px;
    transition: all .1s .1s ease;
}
section .inputs-group .inputs-connect .connect-button:hover {
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    width: 203px;
    height: 53px;
}









/*


section .inputs .message {
    display: block;
    border:2px solid rgb(149, 0, 255) ;
    outline: none;
    font-family:monospace;
    font-style: normal;
    font-size: 20px;
    color: rgb(149, 0, 255);
    font-weight: 600;
}
section .inputs-group .sending-button {
    white-space: nowrap;
    width: 300px;
    height: 40px;
    border: 2px solid rgb(149, 0, 255);
    outline: none;
    font-family: monospace;
    font-style: normal;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
*/
