/* Start Styling */

* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
}
/* Start Main Classes */
.container {
    margin: 50px 100px;
}

header {
    width: 100%;
    height: 90px;
    background-color: #c8c8ff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

section {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 20%;
}
aside button {
    display: block;
}
.cards {
    width: 60%;
    margin-bottom: 20px;
}

.cards .card {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width: 992px) {
    section {
        flex-direction: column;
    }
    .cards, aside {
        width: 100%;
    }
}


