
/* ======= Part 1 And Part 2 ======= */
/* Method 1 For Margin and padding for parent better then child */
div {
    /* text-align: right; */
    /* we are use dir="rtl" */
    color: #eeee;
}
/* div h1 {
    margin-right: 10px;
    margin-left: 0;
} */

div h1 {
    display: block; /* RTL */ /* This Exit In style.css */
}


/* ======= Part 3 ======= */
/* Start Header */
.header {
    padding: 20px;
}
.header h3 {
    color: red;
}
.header p {
    color: white;
}
/* .parent .child {
    float: right;
} */


/* ======= Part 4 ======= */
.parent span {
    color: black;
}
.view::after {
    font-family: "FontAwesome";
    content: "\f053";
}
.test2 {
    text-align: end;
}


/* ======= Part 5 ======= */
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.t-right {
    text-align: right;
}
.t-left {
    text-align: left;
}



/*  ======= Part 6 =======  */
.box {
    border-radius: 20px 0 0 20px;
    border-width: 0 4px 0 0 ;
}
.box::after {
    border-color: transparent #eee transparent transparent;
    right: auto; /* without this he take right from style.css */
    left: -30px;
}
