/* ======= Part 1 and Part 2 ======= */
div {
    background-color: #272525ca;
    color: white;
}

div h1 {
    /* margin: 0; /* reset 
    margin-left: 10px; */
    /* Method 1 For Margin and padding for parent better then child */
    /* padding: 0 10px; */
    margin-right: 10px;
    margin-left: 10px;
    display: inline; /* RTL Value */
}

/* ======= Part 3 ======= */
/* Start Header */ 
.header {
    padding: 20px;
}
.header h3 {
    color: red;
}
.header p {
    color: white;
}
.parent {
    width: 100%;
}
.parent .child {
    color: black;
    background-color: #ddd;
    width: 25%;
    height: 50px;
    /* float: left; */
    display: inline-block;
}

/* ======= Part 4 ======= */
span {
    color: black;
}
.view {
    display: inline-block;
    background-color: red;
    font-size: 30px;
    /* width: 80px; */
    text-align: center;
}
.view::after {
    font-family: "FontAwesome";
    content: "\f054";
}
p.test1 {
    text-align: end;
}

/* ======= Part 5 ======= */
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.t-right {
    text-align: right;
}
.t-left {
    text-align: left;
}


