body {
    padding: 20px;
}
/* ======= Part 1 and Part 2 ======= */
div {
    background-color: #272525ca;
    color: white;
}

div h1 {
    /* margin: 0; /* reset 
    margin-left: 10px; */
    /* Method 1 For Margin and padding for parent better then child */
    /* padding: 0 10px; */
    margin-right: 10px;
    margin-left: 10px;
    display: inline; /* RTL Value */
}

/* ======= Part 3 ======= */
/* Start Header */ 
.header {
    padding: 20px;
}
.header h3 {
    color: red;
}
.header p {
    color: white;
}
.parent {
    width: 100%;
}
.parent .child {
    color: black;
    background-color: #ddd;
    width: 25%;
    height: 50px;
    /* float: left; */
    display: inline-block;
}

/* ======= Part 4 ======= */
span {
    color: black;
}
.view {
    display: inline-block;
    background-color: red;
    font-size: 30px;
    /* width: 80px; */
    text-align: center;
}
.view::after {
    font-family: "FontAwesome";
    content: "\f054";
}
p.test1 {
    text-align: end;
}

/* ======= Part 5 ======= */
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.t-right {
    text-align: right;
}
.t-left {
    text-align: left;
}



/*  ======= Part 6 and Part 7=======  */
.box {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 0 20px 20px 0;
    color: black;
    padding: 0 5px;
    position: relative;
    border-width: 0 0 0 4px;
    border-color: red;
    border-style: solid;
    box-shadow: 10px 0px 10px 0px;
    /* transform: rotate(20deg); */
    position: absolute;
    top: 50%;
    left: 100px;
}
.box::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #eee;
}


