/* ======= Part 1 And Part 2 ======= */
/* Method 1 For Margin and padding for parent better then child */
div {
    /* text-align: right; */
    /* we are use dir="rtl" */
    color: #eeee;
}
/* div h1 {
    margin-right: 10px;
    margin-left: 0;
} */

div h1 {
    display: block; /* RTL */ /* This Exit In style.css */
}


/* ======= Part 3 ======= */
/* Start Header */
.header {
    padding: 20px;
}
.header h3 {
    color: red;
}
.header p {
    color: white;
}
/* .parent .child {
    float: right;
} */


/* ======= Part 4 ======= */
.view::after {
    font-family: "FontAwesome";
    content: "\f053";
}

